<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestWebApp">
    <classes>
      <class name="FMSeleniumMavenJenkins.FMSeleniumMavenJenkins.TestCases_WebApp"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestTestNGDemo">
    <classes>
      <class name="FMSeleniumMavenJenkins.FMSeleniumMavenJenkins.TestCases_TestNGDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
